$white: #FFFFFF;
$bckg-blue: #F1F8FF;
$bckg-blue-deco: #0A97FD;
$dark-blue: #2C2EFE;
$light-blue: #0A97FD;
$secondary:#384457;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');
$basic-font: 'Mulish',
sans-serif;