@import "../../../public/assets/_master.scss";
#hero {
    min-height: 80vh;
    .blur {
        // animation: move 1.5s ease-out;
    }
    @keyframes move {
        0% {
            filter: blur(5px);
            -webkit-filter: blur(5px);
        }
        100% {
            filter: blur(0px);
            -webkit-filter: blur(0px);
        }
    }
    .top {
        fill: none;
        stroke: #418AF2;
        stroke-width: 1px;
        /* Stroke-dasharray property */
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
        animation: move 6s ease-in infinite;
        stroke-linecap: round;
        /*     animation-fill-mode: forwards; */
    }
    .middle {
        fill: none;
        stroke: #418AF2;
        stroke-linejoin: 50px;
        stroke-width: 1px;
        /* Stroke-dasharray property */
        stroke-dasharray: 1500px;
        stroke-dashoffset: 1500px;
        animation: move 5s ease-in infinite;
        // animation-delay: 1s;
        stroke-linecap: round;
        /*     animation-fill-mode: forwards; */
    }
    .cubic {
        fill: none;
        stroke: #418AF2;
        stroke-width: 1px;
        /* Stroke-dasharray property */
        stroke-dasharray: 150px;
        stroke-dashoffset: 80px;
        animation: move 6s ease-out infinite;
        // animation-delay: 2s;
        stroke-linecap: round;
        /*     animation-fill-mode: forwards; */
    }
}