@import "../../../public/assets/_master.scss";
.triangle {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 3vw solid #0E192F;
    position: relative;
    bottom: -100px
}

.rectangle {
    height: 100px;
    width: 80vw;
    background: linear-gradient(104.93deg, #DDE8FF 39.47%, rgba(221, 232, 255, 0) 81.59%);
    border-radius: 2rem 2rem 0 0;
    margin-left: 10vw;
}